body {
    margin: 0;
}

.container {
    background-color: #4C1D95;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.home-container,
.guest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-block: 1.5rem;
}